@import "tailwindcss";
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.infinite-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.infinite-scroll:hover {
  animation-play-state: paused;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
